:root {
  --branding-color: #e37070;
  --secondary-color: #ffebeb;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40x;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142b2;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.content-container {
  padding: 60px 20px;
  text-align: center;
  padding: 0;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  border-radius: 4px;
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.image1 {
  height: 704px;
  width: 503px;
  border-radius: 50px;
}

.logo {
  max-height: 40px;
}

.media-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

.email-link:hover {
  color: var(--branding-color);
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .project-description {
    padding: 0px;
    text-align: center;
  }
}
